.paragliding-images {
    background-color: white;
    float: left;
    overflow: hidden;
    position: relative;
    width: 600px;
    margin-left: 10px;
  }
  
  .paragliding-thumbs {
    list-style: none;
    margin: 0;
  }
  
  .paragliding-thumbs img {
    height: 100px;
    padding: 1em;
    width: 100px;
  }
  
  .paragliding-thumbs li {
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
    display: inline-block;
    margin: 1em;
  }

  .thumbs {
    margin-left: 620px;
    height: 800px;
    border-color: rgb(197, 115, 48);
    border-style: double;
    scroll-behavior:auto;
    margin-right: 10px;
    overflow: scroll;
  }